/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

.order-enter
  transform: translateX(-120%)
  transition 0.5s
  background: yellow
  max-height: 0
  padding 0 !important
  &.order-enter-active
    max-height 60px
    background: red
    transform: translateX(0)
    padding 2rem 0 !important

.order-exit
  transition 1.5s
  background: green
  transform: translateX(0)
  &.order-exit-active
    transform: translateX(120%)
    padding: 0


.count-enter
  background: red
  transition 1.5s
  transform translateY(100%)
  &.count-enter-active
    background: yellow
    transform translateY(0)

.count-exit
  background: black
  transform translateY(0)
  transition 1.5s
  position absolute
  left 0
  bottom 0
  &.count-exit-active
    // background green
    transform translateY(-100%) scale(3)